.user {
    display: flex;
    align-items: center;
}

.user-img {
    font-size: 45px;
    color: #5d5fef;
    padding-right: 12px;
}

.user p {
    color: #3f3f3f;
    padding-top: 5px;
}

.user-details {
    margin: 25px 0;
    background-color: #f2f4fa;
    padding: 15px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.user-details span {
    color: #3f3f3f;
}

.user-details p {
    font-size: 15px;
    font-weight: 500;
    padding-top: 8px;
    text-align: center;

}

.activetis {
    margin-bottom: 40px;
}

.activetis h4 {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 500;
}

.brack-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f4fa;
    padding: 15px 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.brack-time p {
    margin: 0 2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #FFF;
    border-radius: 50%;
}

.exercise-entry p {
    background-color: #f2f4fa;
    font-weight: 500;
    padding: 15px 10px;
    margin-top: 15px;
    border-radius: 10px;
}