.exercise-info {
    padding: 10px;
    background-color: #F8FFF8;
    border: 2px solid rgb(191, 226, 190);
    border-radius: 10px;
    box-shadow: -3px 0px 11px -1px rgba(191, 226, 190, 0.46);
}

.exercise-info img {
    border-radius: 10px;
    width: 100%;
}

.exercise-details h4 {
    font-size: 20px;
    font-weight: 700;
    color: #213d2e;
    padding-top: 15px;
}

.exercise-details p {
    font-size: 16px;
    color: #3b3b3b;
    line-height: 20px;
    padding: 12px 0;
}

.exercise-details H6 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 7px;
    color: #213d2e;
}

button {
    background-color: #213D2E;
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button p {
    padding-right: 8px;
}