.blog {
    padding: 80px 90px;
    background-color: #f2f4fa;
}

.blog h2 {
    color: #5d5fef;
}

.q-and-a {
    margin: 30px 0;
    background-color: #fff;
    box-shadow: -3px 0px 11px -1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    overflow: hidden;
}

.q-and-a h4 {
    background-color: #5d5fef;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: 8px 10px;
}

.q-and-a p {
    color: #424242;
    font-size: 16px;
    text-align: justify;
    padding: 8px 10px;
    line-height: 20px;
}

.q-and-a span {
    display: inline-block;
    padding-top: 10px;
}

@media(max-width:768px) {
    .blog {
        padding: 50px 20px;
    }

    .q-and-a {
        margin: 30px 0;
    }

    .q-and-a h4 {
        font-size: 22px;
        padding: 8px 10px;
    }

    .q-and-a p {
        padding: 8px 10px;
    }
}