.blog {
    padding: 80px 90px;
    background-color: #fff;
}

.blog h2 {
    color: #213d2e;
    text-align: center;
}

.q-and-a {
    margin: 30px 0;
    background-color: #fff;
    box-shadow: -3px 0px 11px -1px rgba(191, 226, 190, 0.46);
    border: 2px solid rgb(191, 226, 190);
    border-radius: 10px;
    overflow: hidden;
}

.q-and-a h4 {
    background-color: #213D2E;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: 8px 10px;
}

.q-and-a p {
    background-color: #F8FFF8;
    color: #213d2e;
    font-size: 16px;
    padding: 8px 10px;
    line-height: 20px;
}

.q-and-a span {
    display: inline-block;
    padding-top: 10px;
}

@media (min-width:769px) and (max-width:1019.98px) {
    .blog {
        padding: 50px 40px;
    }
}

@media(max-width:768px) {
    .blog {
        padding: 50px 20px;
    }

    .q-and-a {
        margin: 30px 0;
    }

    .q-and-a h4 {
        font-size: 22px;
        padding: 8px 10px;
    }

    .q-and-a p {
        padding: 8px 10px;
    }
}